<ng-container [formGroup]="form">
    <ng-content></ng-content>
    <mat-form-field
        class="fullWidth"
        [ngClass]="{
            'isp-input-number-container': type === 'number',
            'isp-input-container': type !== 'number'
        }">
        <!-- <mat-label *ngIf="label" [ngClass]="{'asterix--before': isRequired}">{{label}}</mat-label> -->
        @if(label) {
         <mat-label>{{ label }}</mat-label>
        }

        @switch (type) {
          @case ('text')
          {
            <input
                    matInput
                    cdkAutosizeMaxRows
                    [type]="type"
                    [id]="id"
                    [(ngModel)]="value"
                    [placeholder]="placeholder"
                    (change)="setValue($event)"
                    (keyup)="setValue($event)"
                    autocomplete="off"
                    [spellcheck]="spellcheck"
                    [min]="min"
                    [max]="max"
                    [formControlName]="controlName"
                    (focus)="onFocus($event)"
                    [disabled]="readonly"
                    [readonly]="readonly"
                    (keydown)="onKeyDownPress($event)"
                    [ngStyle]="
                        readonly
                            ? { color: 'rgb(169,169,169)' }
                            : { color: 'rgb(0,0,0)' }
                    " />
          }
          @case ('email')
          {
            <input
                    matInput
                    cdkAutosizeMaxRows
                    [type]="type"
                    [id]="id"
                    [(ngModel)]="value"
                    [placeholder]="placeholder"
                    (change)="setValue($event)"
                    (keyup)="setValue($event)"
                    autocomplete="off"
                    [spellcheck]="spellcheck"
                    [min]="min"
                    [max]="max"
                    [formControlName]="controlName"
                    (focus)="onFocus($event)"
                    [disabled]="readonly"
                    [readonly]="readonly"
                    (keydown)="onKeyDownPress($event)"
                    [ngStyle]="
                        readonly
                            ? { color: 'rgb(169,169,169)' }
                            : { color: 'rgb(0,0,0)' }
                    " />
          }
          @case ('phone') {
            <input
                    matInput
                    cdkAutosizeMaxRows
                    [type]="type"
                    [id]="id"
                    [(ngModel)]="value"
                    [placeholder]="placeholder"
                    (change)="setValue($event)"
                    (keyup)="setValue($event)"
                    autocomplete="off"
                    [spellcheck]="spellcheck"
                    [min]="min"
                    [max]="max"
                    [formControlName]="controlName"
                    (focus)="onFocus($event)"
                    [disabled]="readonly"
                    [readonly]="readonly"
                    (keydown)="onKeyDownPress($event)"
                    [ngStyle]="
                        readonly
                            ? { color: 'rgb(169,169,169)' }
                            : { color: 'rgb(0,0,0)' }
                    " />
          }
          @case ('number') {
            <input
                    matInput
                    cdkAutosizeMaxRows
                    class="uk-text-center input-num-margin"
                    [type]="type"
                    [id]="id"
                    [(ngModel)]="value"
                    (change)="setValue($event)"
                    (keyup)="setValue($event)"
                    autocomplete="off"
                    [min]="min"
                    [max]="max"
                    [formControlName]="controlName"
                    (focus)="onFocus($event)"
                    [disabled]="readonly"
                    [readonly]="readonly"
                    (keyup)="onNumericFieldKeyDownPress($event)"
                    [ngStyle]="{ 'font-weight': 'bold' }" />
          }
          @default {
            Default case.
          }
        }
        @if((showCloseIcon && type === 'text') || type === 'email' || type === 'phone')
        {
          <mat-icon
          matSuffix
          class="faded-color fade-in clickable"
          (click)="reset()"
          >close</mat-icon>
        }

        @if((showInputIcon && type === 'text') || type === 'email' || type === 'phone')
        {
          <mat-icon
            matSuffix
            class="faded-color fade-in"
            >filter_list</mat-icon>
        }
        @if(controlName && form.get(controlName))
        {
          @if(!form.get(controlName)!.valid && form.get(controlName)!.touched)
          {
            <mat-error>
                <isp-form-error
                    [form]="form"
                    [controlName]="controlName"
                    [title]="placeholder">

                    @if(form.get(controlName)!.hasError('pattern') && type === 'number')
                    {
                      <span>
                        Minimum / Maximum value for {{ controlName }} is
                        {{ min }} and {{ max }}!
                      </span>
                    }
                </isp-form-error>
            </mat-error>
          }
        }
    </mat-form-field>
</ng-container>
