@import './../../scss/vendors/rbColors';
.isp-input-container {
    width: 100%;
}

.isp-input-number-container {
    width: auto;
}

.asterix--before:after {
    content: '*';
    color: red;
    margin-left: 5px;
}

// ::ng-deep.mat-form-field-disabled .mat-form-field-underline {
//     background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #c2c7cc 0) !important;
//     background-size: 1px 100% !important;
//     background-repeat: repeat-x !important;
// }
::ng-deep .mat-form-field-disabled {
    .mat-input-element {
        color: rgba(0, 0, 0, 0.14);
    }
    .mat-form-field-label {
        color: rgba(0, 0, 0, 0.14);
    }
    .mat-form-field-underline {
        color: rgba(0, 0, 0, 0.14);
    }
    .mat-form-field-ripple {
        color: rgba(0, 0, 0, 0.14);
    }
    .mat-form-field-required-marker {
        color: rgba(0, 0, 0, 0.14);
    }
}

.input.disabled {
    pointer-events: none;
    color: #aaa;
    background: #f5f5f5;
}

.input-num-margin {
    margin-left: 5px !important;
}
