<ng-container [formGroup]="form">
    <ng-content></ng-content>
    <mat-form-field class="full-width">
        <mat-label>{{label}}</mat-label>
        <input size="5" (dateInput)="onDateSelect($event.value)" matInput [matDatepicker]="toDatePicker" [disabled]="isEditable" [formControlName]="controlName" [placeholder]="placeholder" [min]="minDate"
        [max]="maxDate" readonly spellcheck="false" [(ngModel)]="value"
        />
        <mat-icon *ngIf="clear" class="faded-color fade-in clickable isp-mat-icon" matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker [startAt]="value"></mat-datepicker>

        @if(!form.get(controlName)!.valid && form.get(controlName)!.touched)
        {
          <mat-error>
              <isp-form-error [form]="form" [controlName]="controlName" [title]="placeholder">
              </isp-form-error>
          </mat-error>
        }
    </mat-form-field>
</ng-container>
