@import './../../scss/vendors/rbColors';
:host {
    ::ng-deep {
        // .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
        // .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        //     background-color: $bosch-dark-blue-w25;
        // }
        // .mat-checkbox .mat-checkbox-frame {
        //     transform: scale(1);
        // }
        // .mat-checkbox-checked .mat-checkbox-background {
        //     transform: scale(1);
        // }
        .mat-checkbox {
            width: 4vw;
        }
    }
}

.main-checkboxes-container {
    display: flex;
    flex-direction: column;
}

.isp-checkbox-container {
    width: 100%;
}

.isp-checkbox-vertical-container {
    width: 4vw;
}

// .isp-checkbox-text {
//     font-size: map-get($font-sizes, smallest);
// }

.checkbox-container {
    padding: 5px;
    // border-radius: 5px;
    // border-width: 2px;
    // box-shadow: 1px 3px red, 1px 1px 1px olive;
}

.mat-checkbox,
.mat-radio-group {
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    // flex-direction: row;
}

:host ::ng-deep .mat-checkbox-layout {
    display: flex;
    justify-content: space-between;
}

:host ::ng-deep .mat-checkbox-label-before .mat-checkbox-inner-container {
    margin-right: 0;
}

// .mat-radio-group {
//     align-items: flex-start;
//     flex-direction: column;
// }
// .mat-radio-button {
//     width: 100%;
//     height: 48px;
//     display: flex;
//     align-items: center;
// }
// :host ::ng-deep .mat-radio-label {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
// }
