<div *ngIf="iconName">
    <mat-icon *ngIf="!isSvgIcon && !url" [matTooltip]="toolTip" (click)="onClick()" [ngStyle]="{
          color: color,
          'font-size': size,
          'width': '100%',
          'height': '100%'
          }">{{ iconName }}</mat-icon>
    <mat-icon *ngIf="isSvgIcon && !url" [matTooltip]="toolTip" (click)="onClick()" color="primary" [svgIcon]="iconName"></mat-icon>
    <a *ngIf="url" [href]="url" [target]='newWindow ? "_blank" : ""'>
        <mat-icon *ngIf="!isSvgIcon" [matTooltip]="toolTip" (click)="onClick()" [ngStyle]="{
              color: color,
              'font-size': size,
              'width': '100%',
              'height': '100%'
              }">{{ iconName }}</mat-icon>
        <mat-icon *ngIf="isSvgIcon" [matTooltip]="toolTip" (click)="onClick()" color="primary" [svgIcon]="iconName"></mat-icon>
    </a>
</div>