@import './../../scss/vendors/rbColors';
// @import 'typography';
// @import 'custom.material';
// @import 'form.custom';
.isp-expander-text {
    // font-size: map-get($font-sizes, smaller);
}

:host {
    ::ng-deep {
        * + p,
        * + ul,
        * + ol,
        * + dl,
        * + pre,
        * + address,
        * + fieldset,
        * + figure {
            margin-top: 0;
        }
    }
}

.container {
    overflow-y: auto;
    max-height: 20vh;
    overflow-x: hidden;
}

.isp-chip-container {
    // background-color: $bosch-violet;
    color: $white;
    font-size: x-small;
    padding: 7px;
}

mat-icon {
    cursor: pointer;
}
