<ng-container [formGroup]="form">
    <ng-content></ng-content>
    <mat-form-field class="full-width">
        <!-- <mat-form-field> -->
        <!-- <mat-label [ngClass]="{'asterix--before': isRequired}">{{ label }}</mat-label> -->
        <mat-label>{{ label }}</mat-label>

        @if(!multi)
        {
          <mat-select #matSelect [(ngModel)]="selected" [disabled]="isDisabled" [id]="controlName" [formControlName]="controlName" disableOptionCentering (optionSelected)="change($event)" (selectionChange)="selectionChanged($event)">
            @if(showEmptyItem)
            {
              <mat-option *ngIf="showEmptyItem" [disabled]="isDisabledOptionItem"></mat-option>
            }
            @for (option of options; track option)
            {
              <mat-option [value]="option" [disabled]="isDisabledOptionItem">{{ option.value }}
              </mat-option>
            }
          </mat-select>
        }

        @if(multi)
        {
          <mat-select #matSelect multiple [(ngModel)]="selectedMulti" [disabled]="isDisabled" [id]="controlName" [formControlName]="controlName" disableOptionCentering (optionSelected)="change($event)" (selectionChange)="selectionChanged($event)">
              <!-- <mat-select-trigger *ngIf="showOtherItemsForMultiSelection">
                  <span *ngIf="selectedMulti">{{selectedMulti[0].value || ''}}
                    <span *ngIf="(selectedMulti.length || 0) > 1" class="example-additional-selection">
                      (+{{(selectedMulti.length || 0) - 1}} {{selectedMulti.length === 2 ? 'other' : 'others'}})
                    </span>
                  </span>
              </mat-select-trigger> -->
              <!-- <mat-option *ngIf="showEmptyItem"></mat-option> -->
              @for (option of options; track option)
              {
                <mat-option [value]="option" [disabled]="isDisabledOptionItem">{{ option.value }}
                </mat-option>
              }
          </mat-select>
        }

        @if(!form.get(controlName!)!.valid && form.get(controlName!)!.touched)
        {
          <mat-error>
            <isp-form-error [form]="form" [controlName]="controlName" [title]="placeholder!">
            </isp-form-error>
          </mat-error>
        }
    </mat-form-field>
</ng-container>
